.listitem-box {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0;
    padding-right: 0;
    align-items: center;
    display: flexbox;
}

.listitem-background {
    background-color: darkslategrey,
    
}