
.navbar{
    max-height:5rem;
    display: flex;
    justify-content: flex-start;
}

.navbar-title{

}

.navbar-auth{

}

.navbar-profile{
    align-self:center;
    margin-left: auto;
}